
<template name="instructionsRow">

    {{!
        Instructions row - text on background paper
        Pass in the text values
    }}

    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone">
            {{text1}}
        </div>

        <div class="mdl-cell mdl-cell--8-col">
            <div class="secondary-text-color instructions">{{text2}}</div>
        </div>

        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone">
            {{text3}}
        </div>
    </div>

</template>
