
<template name="sectionHeadingRow">

    {{!
        Instructions row - text on background paper
        Pass in the text values
    }}

    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone">
            <div class="section_heading secondary-text-color">{{text1}}</div>
        </div>

        <div class="mdl-cell mdl-cell--8-col">
            <div class="section_heading secondary-text-color">{{text2}}</div>
        </div>

        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone">
            <div class="section_heading secondary-text-color">{{text3}}</div>
        </div>
    </div>

</template>
