
<!-- Display all projects for the urrent user -->
<template name="listProjects">

    <!-- List the projects, one per panel -->
    <h2>Projects</h2>
    <!-- Add Project floating button -->
    <a href="/addproject" class="btn btn-danger btn-fab btn-raised mdi-content-add pull-right"></a>

    <div class="list-group">
        {{#each projectsList}}
            {{> projectItem}}
        {{/each}}
    </div>
</template>


<template name="projectItem">
    <!-- Details of the project -->
    <div class="list-group-item project-item">
        <div class="row-picture">
            <img class="circle" src="{{logo}}" alt="icon">
        </div>
        <div class="row-content">
            <h4 class="list-group-item-heading">{{name}}</h4>
            <p class="list-group-item-text">{{description}}</p>
            <p class="list-group-item-text">{{_id}}</p>
        </div>
    </div>

    <!-- Actions on the selected project -->
    <a href="#" class="btn btn-flat btn-success btn-sm project-item">Open</a>

    <!-- Other actions on the selected project -->
    <div class="btn-group">
        <a href="" class="btn btn-flat btn-success btn-sm ">Actions</a>
        <a href="bootstrap-elements.html" data-target="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#" class="project-clone">Clone</a></li>
            <li><a href="#" class="project-share">Share</a></li>
            <li class="divider"></li>
            <li><a href="#" class="project-delete">Delete</a></li>
        </ul>
    </div>

    <div class="list-group-separator"></div>
</template>

