
<!-- View/edit project -->
<template name="viewEditProject">

    <h1>Project: {{id}}</h1>
    <div class="container-fluid">
        <form class="form-horizontal">
            <fieldset>
                <legend>Project {{name}}</legend>

                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Project Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="name" placeholder="{{name}}" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description" class="col-lg-2 control-label">Short Description</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="description" placeholder="{{description}}" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label for="comment" class="col-lg-2 control-label">Comments</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                        <span class="help-block">A longer block of text to describe it in more detail.</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default cancel-button">Cancel</button>
                        <button class="btn btn-default edit-button">Edit</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <h2>Models go here</h2>
        <p>List of models</p>
    </div>
</template>
