/* CSS declarations go here */

/*
div {
    border-color: darkgrey;
    border-style: dotted;
}

.row {
    padding: 10px;
    border-color: blueviolet;
}
*/

body {
    padding-bottom: 70px;

    background-color: white;
    color: teal;
}

.mandatory {
    color: #ff5d24;
}

/*
 Material bootstrap floating action button
*/

#floating-action-button .btn {
       margin: 20px;
   }
#floating-action-button h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
