/* CSS declarations go here */

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-color: rgba(242, 242, 242, 0.05);
}

#topNav {
    background-color: #4486f4;
}

#infoPanel {
    color: slategray;
    background-color: whitesmoke;
}

/* Centre the image */
.top-panel-image {
    height: 70px;
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    position: relative;
    top: -100px;
    z-index: 100;
}


#welcome {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 40px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}


.mandatory {
    color: #ff5d24;
}


.centre-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* The block must have a fixed width, otherwise it's full width and can�t be centred */
}

