<template name="home">

        <div class="mdl-grid">

            <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" id="welcome">
                <p>Welcome to <em>{{appName}}</em>. This app is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
                    content or information.</p>

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect about">Learn more</button>
            </div>

            <div class="mdl-cell mdl-cell--4-col">
                <img class="img-circle" src="/images/sunset.jpg" alt="Generic placeholder image" width="60" height="60">
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque risus quam, tristique id convallis ac,
                    faucibus non eros. Quisque at suscipit ex, et auctor nulla. Vestibulum scelerisque, ex feugiat vestibulum
                    rhoncus non. Integer scelerisque mi ligula, a condimentum neque pulvinar quis. Curabitur tristique nisl non
                    eros finibus pellentesque vitae ac magna. Donec sit amet metus vitae lacus vehicula sollicitudin.</p>

                <!-- Flat button with ripple -->
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect about">View details &raquo;</button>
            </div>

            <div class="mdl-cell mdl-cell--4-col">
                <img class="img-circle" src="/images/flower.jpg" alt="Generic placeholder image" width="60" height="60">
                <h4>Heading</h4>
                <p>Morbi rutrum ultricies eros ac commodo. Sed volutpat urna a lectus faucibus, sed tincidunt ante efficitur.
                    Vivamus tortor tortor, facilisis non placerat ornare, dignissim a mauris. Nullam posuere nisi nec velit
                    luctus rutrum. Nullam ut quam ac nisl condimentum blandit. Donec vel lorem nec odio convallis facilisis.
                    auctor. Aenean venenatis, lacus eu aliquet euismod, augue elit mattis libero, a tempus nisi odio at
                    magna.</p>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect about">View details &raquo;</button>
            </div>

            <div class="mdl-cell mdl-cell--4-col">
                <img class="img-circle" src="/images/grass.jpg" alt="Generic placeholder image" width="60" height="60">
                <h4>Heading</h4>
                <p> aliquam pretium nisi in porttitor. Suspendisse potenti. Praesent vitae facilisis ligula. Morbi consequat,
                    augue et ultrices euismod, odio arcu eleifend dui, vel consequat risus est ullamcorper nulla. Vestibulum
                    mollis. Vestibulum consequat velit eget magna volutpat sollicitudin. Sed pretium metus non est congue
                    egestas. Mauris vel semper lacus. Fusce et condimentum ex.</p>

                <button class="mdl-button mdl-js-button mdl-js-ripple-effect about">View details &raquo;</button>
            </div>

            <p class="mdl-cell mdl-cell--12-col">Mauris ultricies neque mauris, et accumsan purus pellentesque finibus. Aliquam ex mauris, vulputate eu nunc
                vel, tempor rutrum mauris. Donec tristique dolor nec libero fermentum, et pulvinar enim pretium. Cras
                dignissim ante justo, vitae egestas est tincidunt nec. Donec in tincidunt orci. Etiam non porttitor felis.
                Donec felis odio, varius sed tellus sed, euismod dictum enim. Nam ac lacinia neque.</p>
        </div>

</template>


