<template name="home">

    <div class="row">

        <div class="col s12 m12 l12" id="welcome">
            <p>Welcome to <em>{{appName}}</em>. This app is a simple hero unit, a simple jumbotron-style component for
                calling extra attention to featured
                content or information.</p>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect about">
                Learn more
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m4 l4 center">
            <i class="material-icons">group</i>
            <h4>Heading</h4>

            <div class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque risus quam, tristique id
                convallis ac,
                faucibus non eros. Quisque at suscipit ex, et auctor nulla. Vestibulum scelerisque, ex feugiat
                eros finibus pellentesque vitae ac magna. Donec sit amet metus vitae lacus vehicula sollicitudin.
            </div>

            <!-- Flat button with ripple -->
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect about">View details &raquo;</button>
        </div>

        <div class="col s12 m4 l4 center">
            <i class="material-icons">flash_on</i>
            <h4>Heading</h4>

            <div class="light">Morbi rutrum ultricies eros ac commodo. Sed volutpat urna a lectus faucibus, sed
                tincidunt ante
                efficitur.
                auctor. Aenean venenatis, lacus eu aliquet euismod, augue elit mattis libero, a tempus nisi odio at
                magna.
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect about">View details &raquo;</button>
        </div>

        <div class="col s12 m4 l4 center">
            <i class="material-icons">settings</i>
            <h4>Heading</h4>

            <div class="light"> aliquam pretium nisi in porttitor. Suspendisse potenti. Praesent vitae facilisis ligula.
                Morbi
                consequat,
                augue et ultrices euismod, odio arcu eleifend dui, vel consequat risus est ullamcorper nulla. Vestibulum
                .
            </div>

            <button class="mdl-button mdl-js-button mdl-js-ripple-effect about">View details &raquo;</button>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12"><span class="flow-text">Mauris ultricies neque mauris, et accumsan purus pellentesque finibus. Aliquam ex mauris,
            vulputate eu nunc
            vel, tempor rutrum mauris. Donec tristique dolor nec libero fermentum, et pulvinar enim pretium. Cras
            dignissim ante justo, vitae egestas est tincidunt nec. Donec in tincidunt orci. Etiam non porttitor felis.
            Donec felis odio, varius sed tellus sed, euismod dictum enim. Nam ac lacinia neque.</span></div>
    </div>

</template>


