<template name="ApplicationLayout">

    <!-- Outer div so MD does not destroy Iron Router events (see https://github.com/Zodiase/meteor-mdl/issues/2)-->
    <div>

        <!-- Header -->
        {{> topNav}}

        <!-- MD layout container -->
        <div class="container">

            <!-- Error messages - dismissable -->
            <div>{{> errors}}</div>

            <!-- Variable content container -->
            <div>
                {{> yield "content"}}
            </div>

        </div>

        <!-- Footer -->
        {{> footer}}
    </div>

</template>
