<!--
    Top Navigation menu bar
-->

<template name="topNav">

    <nav id="topNav" role="navigation">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">{{appName}}</a>

            <a href="#" data-activates="sideNav" class="button-collapse"><i class="material-icons">menu</i></a>

            <!-- Top Nav-->
            <ul class="right hide-on-med-and-down">
                {{> navItems}}
            </ul>

            <!-- Side Nav for small mobile devices -->
            <ul class="side-nav" id="sideNav">
                {{> navItems}}
            </ul>
        </div>
    </nav>

    {{#if activity 'Home'}}
        {{> infoPanel}}
    {{/if}}

</template>


<template name="navItems">
    {{#if isMenuEnabled.projects}}
        <li><a href="{{ pathFor 'projects' }}">Projects</a></li>
    {{/if}}

    {{#if isMenuEnabled.login}}
        <li><a href="{{ pathFor 'auth' }}">Login</a></li>
    {{else}}
        <li><a href="{{ pathFor 'auth' }}">Account</a></li>
    {{/if}}

    {{#if isMenuEnabled.messages}}
        <li><a href="" data-badge="4">Messages</a></li>
    {{/if}}

    {{#if isMenuEnabled.settings}}
        <li><a href="{{ pathFor 'settings' }}">Settings dropdown</a></li>
    {{/if}}

    {{#if isMenuEnabled.about}}
        <li><a href="{{ pathFor 'about' }}">About</a></li>
    {{/if}}

</template>
