<!--
    Top Navigation menu bar
-->

<template name="topnav">

    <!-- Always show a header, even in smaller screens. -->
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>

        <div class="mdl-layout__header-row">
            <!-- App Title -->
            <a class="mdl-navigation__link" href="/"><span class="mdl-layout-title">{{appName}}</span></a>

            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <!-- Navigation. Hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="/">Home</a>

                {{#if isMenuEnabled.projects}}
                    <a class="mdl-navigation__link" href="{{ pathFor 'projects' }}">Projects</a>
                {{/if}}

                {{#if isMenuEnabled.login}}
                    <a class="mdl-navigation__link" href="auth">Login</a>
                {{else}}
                    <a class="mdl-navigation__link" href="auth">Account</a>
                {{/if}}

                {{#if isMenuEnabled.messages}}
                    <a class="mdl-navigation__link mdl-badge" href="" data-badge="4">Messages</a>
                {{/if}}

                {{#if isMenuEnabled.settings}}
                    <a class="mdl-navigation__link" href="{{ pathFor 'settings' }}">Settings dropdown</a>
                {{/if}}

                {{#if isMenuEnabled.about}}
                    <a class="mdl-navigation__link" href="{{ pathFor 'about' }}">About</a>
                {{/if}}
            </nav>
        </div>
    </header>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{appName}}</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">Home</a>

            {{#if isMenuEnabled.projects}}
                <a class="mdl-navigation__link" href="{{ pathFor 'projects' }}">Projects</a>
            {{/if}}

            {{#if isMenuEnabled.login}}
                <a class="mdl-navigation__link" href="auth">Login</a>
            {{else}}
                <a class="mdl-navigation__link" href="auth">Account</a>
            {{/if}}

            {{#if isMenuEnabled.messages}}
                <a class="mdl-navigation__link mdl-badge" href="" data-badge="4">Messages</a>
            {{/if}}

            {{#if isMenuEnabled.settings}}
                <a class="mdl-navigation__link" href="{{ pathFor 'settings' }}">Settings dropdown</a>
            {{/if}}

            {{#if isMenuEnabled.about}}
                <a class="mdl-navigation__link" href="{{ pathFor 'about' }}">About</a>
            {{/if}}
        </nav>
    </div>

</template>
