/* Home page css */

#welcome {
    padding: 40px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

.features-heading {
    font-weight: 700;
    font-size: large;
    margin-bottom: 10px;
}

.features-description {
    font-weight: 300;

}
